# Lab | Inferential statistics extended

In [13]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import t

### Ex 1: One tailed t-test

In [18]:
machineData = pd.read_csv('machine2.txt', sep = ' ')
print(machineData.shape)
machineData.head()

(10, 2)

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

First I will calculate the mean of the Old machine packing time

In [21]:
machineData['Old_machine'].mean()

43.230000000000004

In [24]:
#H0 means that New machine processing time is >= 43.23
#H1 means that New machine processing time is < 43.23 
print('p value (single tailed): ',st.ttest_1samp(machineData['New_machine'],43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

p value is < 0.05 so I can reject the null: New machine processing time is < 43.23

Maybe, we would need more samples because 10 is a little number to  provide sufficient evidence to show if the new machine is better than the old one

### Ex 2: Matched Pairs Test

In [25]:
PokemonData = pd.read_csv('pokemon.csv')
print(PokemonData.shape)
PokemonData.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [26]:
#H0 means that Defense = Attack
#H1 means that they are different 
st.ttest_rel(PokemonData['Defense'], PokemonData['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
#negative statistic means \mu_after-\mu_before < 0   ---->  \mu_after < \mu_before

We can reject the null and we can assume that Attack is lower than defense

## ANOVA

### Part 1

- H0 for ANOVA is always that the means of the various groups are the same.
- H1 is that they are not the same.
- If the F statistic is higher than the critical value (usually 0.05), then the difference among groups is deemed statistically significant.
- The degrees of freedom are the number of independent pieces of information.
- Total DoF are equal to the sum of the individual degrees of freedom.

### Part 2

In [55]:
anova_data = pd.read_excel('anova_lab_data.xlsx')
print(anova_data.shape)
anova_data.head()

(15, 2)

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

I'm going to eliminate the W symbol to convert the column in a numerical one

In [56]:
#anova_data['Power '] = anova_data['Power '].str.rstrip(' W').astype('int')

In [57]:
anova_data['Power_count'] = anova_data.groupby('Power ').cumcount() ##is the new index 

anova_data_pivot = anova_data.pivot(index='Power_count', columns='Power ', values='Etching Rate')
anova_data_pivot.columns = ['Power_'+str(x) for x in anova_data_pivot.columns.values]
anova_data_pivot.head()

             Power_160 W  Power_180 W  Power_200 W
Power_count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

- H0 for ANOVA is always that the means of the various groups are the same.
- H1 is that they are not the same.
- If the F statistic is higher than the critical value (usually 0.05), then the difference among groups is deemed statistically significant.
- The degrees of freedom are the number of independent pieces of information.
- Total DoF are equal to the sum of the individual degrees of freedom.

In [54]:
#H0 for ANOVA is always that the means of the various groups are the same
#H1 is that they are not the same
st.f_oneway(anova_data_pivot['Power_160 W'],anova_data_pivot['Power_180 W'],anova_data_pivot['Power_200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

- p value < 0.05 -> I can reject the null so, the means of the different groups are not the same
- statistic is higher than 0.05 so, the difference among groups is deemed statistically significant